@import "tailwindcss";

#custom-cursor {
  position: fixed;
  width: 32px;
  height: 32px;
  background: url('/images/cursor.svg') no-repeat center;
  background-size: contain;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 50;
}

@keyframes wave {
  0% { transform: translateX(0); }
  50% { transform: translateX(-25px); }
  100% { transform: translateX(0); }
}

.animate-wave {
  animation: wave 8s ease-in-out infinite;
}

